* {
  padding: 0;
  margin: 0;
  background-color: #fcead2;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  position: relative;
}

.one {
  position: absolute;
  margin-left: 800px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  background-color: #fdc67f;
}

.two {
  position: absolute;
  margin-left: 300px;
  margin-top: 600px;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-color: #ffdb79;
}

.three {
  position: absolute;
  margin-left: 900px;
  margin-top: 800px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #51a9ff;
}

.backingbox {
  position: relative;
  margin-top: 150px;
  display: flex;
  height: 700px;
  width: 600px;
  background-color: transparent;
  font-weight: 600;
  margin-left: 28%;
}

.toptext {
  position: absolute;
  color: black;
  background: transparent;
  margin-left: 150px;
  white-space: nowrap;
}

img {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 360px;
  height: 240px;
  background: transparent;
}

.button {
  background-color: #0b00e1;
  color: aliceblue;
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 16px;
  font-size: 20px;
  margin-top: 12px;
  font-size: 12px;
}

form {
  z-index: 3;
  background: transparent;
  padding-left: 120px;
  padding-top: 300px;
}

.make {
  height: 60px;
  width: 350px;
  border-radius: 8px;
  border: none;
  background-color: white;
  font-size: 12px;
}
